<layout lang="es">
  <section class="publish">
    <div class="publish__back">
      <a routerLink="/es">Volver</a>
    </div>
    <h2 class="publish__title">
      {{ publishedHeader.title ? publishedHeader.title.rendered : "" }}
    </h2>
    <div
      class="publish__description"
      [innerHTML]="
        publishedHeader.content ? publishedHeader.content.rendered : ''
      "
    ></div>
    <div class="publish__list">
      <a
        target="_blank"
        href="{{ note.acf.url }}"
        class="publish__list__box"
        *ngFor="let note of publishedNotes"
      >
        <h3 class="publish__list__box__title">{{ note.title.rendered }}</h3>
        <div
          class="publish__list__box__description"
          [innerHTML]="note.content.rendered"
        ></div>
        <div class="publish__list__box__btn">
          <span>Ver más</span>
        </div>
      </a>
    </div>
  </section>
</layout>
