<div class="toogle-service" [ngClass]="{'toogle-service--show': showContent }">
  <div class="toogle-service__header" (click)="toogle()">
    <h3>Limpieza de Datos</h3>
  </div>
  <div class="toogle-service__data">
    <p>Modelos Predictivos Tomar decisiones sobre el futuro suele una tarea difícil. Los modelos bien ajustados son solo una parte del camino para obtener una buena predicción. En Datatherapy® seguimos las mejores prácticas para obtener modelos validados que permite extraer la mayor parte del poder de predicción de datos y entregar modelos que explicativos y precisos.</p>
  </div>
</div>