@import '../../../../scss/mixin';

.toogle-service {
  border-bottom: 2px solid #fff;

  &__header {
    position: relative;
    padding: 12px 0;
    cursor: pointer;

    @include breakpoint('medium') {
      padding: 10px 0;
    }

    &:before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: url('/assets/arrow-toogle.png') center center no-repeat;
      position: absolute;
      top: 8px;
      right: 5px;
      transition: all .3s ease-in-out;

      @include breakpoint('medium') {
        right: 10px;
      }
    }

    h3 {
      font-family: var(--main-font);
      font-size: 13px;
      font-weight: 500;
      color: #fff;

      @include breakpoint('medium') {
        font-size: 15px;
        font-weight: 600;
      }

      @include breakpoint('large') {
        font-size: 17px;
      }
    }
  }

  &__data {
    display: none;
    padding: 10px 0 20px;
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 15px;
    color: #fff;

    @include breakpoint('medium') {
      max-width: 800px;
      font-size: 13px;
      line-height: 17px;
    }

    @include breakpoint('large') {
      font-size: 15px;
      line-height: 19px;
    }
  }

  &--show {
    .toogle-service__header {
      &:before {
        transform: rotateZ(90deg);
      }
    }

    .toogle-service__data {
      display: block;
    }
  }
}