@import './src/app/scss/mixin';

.toogle-service {
  border-bottom: 1px solid #000;

  &__header {
    position: relative;
    padding: 10px 0;

    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: #000;
      position: absolute;
      top: 8px;
      right: 10px;
    }

    h3 {
      font-weight: bold;
    }
  }

  &__data {
    display: none;
    padding: 0 0 20px;

    p {
      @include breakpoint('medium') {
        max-width: 800px;
      }
    }
  }

  &--show {
    .toogle-service__data {
      display: block;
    }
  }
}