<footer class="ft">
  <div class="ft__top">
    <div class="ft__top__section">
      <div class="ft__top__box">
        <h4>{{ lang == "en" ? "Address" : "Dirección" }}</h4>
        <p>Impact Hub.</p>
        <p>Calle Alameda, 22</p>
      </div>
    </div>
    <div class="ft__top__section">
      <div class="ft__top__box">
        <h4>{{ lang == "en" ? "Phones" : "Teléfonos" }}</h4>
        <p>{{ lang == "en" ? "Administrative" : "Administrativo" }}</p>
        <p><a href="tel:+34 625-751-427">Tel. (+34) 625 751 427</a></p>
      </div>
    </div>
    <div class="ft__top__section">
      <div class="ft__top__box">
        <h4>{{ lang == "en" ? "Contact" : "Contacto" }}</h4>
        <p>
          <a href="mailto:contact@trydatatherapy.com"
            >contact@trydatatherapy.com</a
          >
        </p>
      </div>
    </div>
    <!-- <div class="ft__top__section">
      <div class="ft__top__box">
        <h4>Redes sociales</h4>
        <p><a href="https://www.instagram.com/datatherapy/" target="_blank">@datatherapy</a></p>
      </div>
    </div> -->
  </div>
  <div class="ft__bottom">
    <small>@copyright 2020</small>
  </div>
</footer>
