<footer class="ft">
  <div class="ft__top">
    <div class="ft__top__section">
      <div class="ft__top__box">
        <h4>Dirección</h4>
        <p>Blas Parera 51</p>
        <p>Florida,  Bs. As B1602</p>
      </div>
    </div>
    <div class="ft__top__section">
      <div class="ft__top__box">
        <h4>Teléfonos</h4>
        <p>Administrativo</p>
        <p><a href="tel:6490-3210-1256">6490-3210-1256</a></p>
      </div>
      <div class="ft__top__box">
        <p>Legales</p>
        <p><a href="tel:3345-6789-2244">3345-6789-2244</a></p>
      </div>
      <div class="ft__top__box">
        <p>Recursos Humanos</p>
        <p><a href="tel:4466-7799-1256">4466-7799-1256</a></p>
      </div>
    </div>
    <!-- <div class="ft__top__section">
      <div class="ft__top__box">
        <h4>Contacto</h4>
        <p><a href="mailto:hello@datatherapy.com">hello@datatherapy.com</a></p>
        <p><a href="mailto:sales@datatherapy.com">sales@datatherapy.com</a></p>
        <p><a href="mailto:customerservice@datatherapy.com">customerservice@datatherapy.com</a></p>
      </div>
    </div> -->
    <div class="ft__top__section">
      <div class="ft__top__box">
        <h4>Redes sociales</h4>
        <p><a href="https://www.instagram.com/datatherapy/" target="_blank">@datatherapy</a></p>
      </div>
    </div>
  </div>
  <div class="ft__bottom">
    <small>@copyright 2020</small>
  </div>
</footer>