@import "../../scss/mixin";

.services {
  padding: 100px 20px 40px;
  background: #322e47 url("/assets/services-bg.jpg") center bottom no-repeat;
  background-size: cover;

  @include breakpoint("medium") {
    padding: 100px 40px 120px;
  }

  &__back {
    padding: 0 0 30px;

    a {
      font-family: var(--main-font);
      font-size: 15px;
      color: #fff;
      font-weight: 700;

      @include breakpoint('large') {
        font-size: 17px;
      }
    }
  }

  &__title {
    font-family: var(--main-font);
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;

    @include breakpoint("medium") {
      letter-spacing: 15px;
      text-align: center;
      font-size: 36px;
    }

    @include breakpoint('large') {
      font-size: 38px;
    }
  }

  &__description {
    padding: 25px 0 0;
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 15px;
    color: #fff;

    @include breakpoint("medium") {
      padding: 20px 15px 0 0;
      max-width: 500px;
      margin: 0 auto;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
    }

    @include breakpoint('large') {
      font-size: 17px;
      line-height: 22px;
    }
  }

  &__content {
    padding: 30px 0 0;

    @include breakpoint("large") {
      padding: 40px 0 0;
      max-width: 1024px;
      margin: 0 auto;
    }
  }
}
