@import '../../../scss/mixin';

.publish {
  position: relative;
  padding: 60px 20px 50px;
  background: rgb(22,25,31) url('/assets/publish-small.jpg') center bottom no-repeat;
  background-size: cover;

  @include breakpoint('medium') {
    padding: 110px 40px 100px;
    min-height: 100vh;
    background: rgb(22,25,31) url('/assets/publish.jpg') center bottom no-repeat;
    background-size: cover;
  }

  &__title {
    position: relative;
    font-family: var(--main-font);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 8px;

    @include breakpoint('medium') {
      font-size: 36px;
      letter-spacing: 20px;
    }
  }

  &__description {
    position: relative;
    padding: 20px 10px 0;
    font-family: var(--main-font);
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #fff;

    strong {
      font-weight: 600;
    }

    @include breakpoint('medium') {
      padding: 20px 20px 0;
      font-size: 15px;
      line-height: 20px;
      max-width: 550px;
      margin: 0 auto;
    }
  }

  &__list {
    padding: 30px 30px 0;

    @include breakpoint('medium') {
      padding: 40px 0 0;
    }

    ngx-slick-carousel {
      @include breakpoint('medium') {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
      }
    }

    &__box {
      display: block;
      background: rgba(255, 255, 255, .1);
      cursor: pointer;

      @include breakpoint('large') {
        transition: background .3s ease-in-out;
      }

      &:hover {
        @include breakpoint('large') {
          background: rgba(255, 255, 255, .3);
        }
      }

      &__data {
        padding: 30px;

        h3 {
          font-family: var(--main-font);
          font-size: 15px;
          line-height: 16px;
          font-weight: 600;
          color: #fff;

          @include breakpoint('medium') {
            font-size: 20px;
            line-height: 23px;
          }
        }

        &__btn {
          padding: 10px 0 0;

          span {
            display: inline-block;
            font-family: var(--main-font);
            font-size: 10px;
            color: #fff;
            text-decoration: underline;

            @include breakpoint('medium') {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    padding: 50px 0 0;

    a {
      font-family: var(--main-font);
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      color: #fff;
      text-decoration: underline;

      @include breakpoint('medium') {
        font-size: 15px;
      }

      &:hover {
        @include breakpoint('large') {
          text-decoration: none;
        }
      }
    }
  }
}

:host ::ng-deep {
  .publish__list__box__data {
    p {
      padding: 10px 0 0;
      font-family: var(--main-font);
      font-size: 10px;
      line-height: 13px;
      color: #fff;

      @include breakpoint('medium') {
        font-size: 12px;
        line-height: 17px;
      }

      strong {
        font-weight: bold;
      }
    }
  }

  .slick-arrow {
    top: 90px;
    height: 25px;

    &:before {
      display: none;
    }
  }

  .slick-next {
    background: url('/assets/arrow-r.png') center center no-repeat;
    background-size: contain;
    right: -35px;
  }

  .slick-prev {
    background: url('/assets/arrow-l.png') center center no-repeat;
    background-size: contain;
    left: -35px;
  }

  .slick-dots {
    bottom: -40px;

    li {
      margin: 0;

      button {
        padding: 0;
        width: 15px;

        &:before {
          width: 15px;
          color: #fff;
          font-size: 9px;
        }
      }
    }
  }
}