<section class="publish">
  <h2 class="publish__title" [innerHTML]="title"></h2>
  <div class="publish__description" [innerHTML]="description"></div>
  <div class="publish__list">
    <ngx-slick-carousel [config]="publishSlider">
      <a
        ngxSlickItem
        target="_blank"
        href="{{ publish.acf.url }}"
        class="publish__list__box"
        *ngFor="let publish of publishings"
      >
        <div class="publish__list__box__data">
          <h3>{{ publish.title.rendered }}</h3>
          <div [innerHTML]="publish.content.rendered"></div>
          <div class="publish__list__box__data__btn">
            <span>{{ lang == "en" ? "View More" : "Ver más" }}</span>
          </div>
        </div>
      </a>
    </ngx-slick-carousel>
  </div>
  <div class="publish__btn">
    <a [routerLink]="lang == 'en' ? '/publish' : '/publicaciones'">{{
      lang == "en" ? "See all posts" : "Ver todas las publicaciones"
    }}</a
    ><!--Ver todas las publicaciones -->
  </div>
</section>
