<section class="services">
  <h2 class="services__title" [innerHTML]="title"></h2>
  <div class="services__description" [innerHTML]="description"></div>
  <div class="services__list">
    <ngx-slick-carousel [config]="serviceSlider">
      <a ngxSlickItem *ngFor="let service of services" routerLink="/{{lang == 'es' ? 'servicios' : 'services'}}/{{service.slug}}" class="services__list__box">
        <div class="services__list__box__image">
          <img src="{{service['_embedded']['wp:featuredmedia'][0]['source_url']}}" />
        </div>
        <div class="services__list__box__data">
          <h3 class="services__list__box__data__title">{{service.title.rendered}}</h3>
          <div class="services__list__box__data__description" [innerHTML]="service.content.rendered"></div>
        </div>
      </a>
    </ngx-slick-carousel>
  </div>
</section>