<section class="services">
  <h2 class="services__title">Servicios</h2>
  <p class="services__description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
  <div class="services__list">
    <a routerLink="/servicios/name1" class="services__list__box">
      <div class="services__list__box__image"></div>
      <div class="services__list__box__data">
        <h3>Evidencia del mundo real</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </a>
    <a routerLink="/servicios/name2" class="services__list__box">
      <div class="services__list__box__image"></div>
      <div class="services__list__box__data">
        <h3>Revisiones Sistemáticas y Meta-análisis</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </a>
    <a routerLink="/servicios/name3" class="services__list__box">
      <div class="services__list__box__image"></div>
      <div class="services__list__box__data">
        <h3>Servicios de Redacción Médica</h3>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </a>
  </div>
</section>