<layout lang="en">
  <herospace-component
    title="{{ homepage.herospace_title }}"
    shortcode="{{ homepage.shortcode }}"
    description="{{ homepage.herospace_description }}"
  ></herospace-component>
  <about-component
    id="know"
    title="{{ homepage.know_title }}"
    description="{{ homepage.know_description }}"
    lang="en"
  ></about-component>
  <team-component
    id="team"
    title="{{ homepage.team_title }}"
    description="{{ homepage.team_description }}"
    lang="en"
  ></team-component>
  <services-component
    id="services"
    title="{{ homepage.service_title }}"
    description="{{ homepage.service_description }}"
    lang="en"
  ></services-component>
  <publish-component
    id="publications"
    title="{{ homepage.publications_title }}"
    description="{{ homepage.publications_description }}"
    lang="en"
  ></publish-component>
</layout>
