@import "../../../scss/mixin";

.herospace {
  position: relative;
  background: rgb(81, 73, 85);
  background: linear-gradient(
    90deg,
    rgba(81, 73, 85, 1) 0%,
    rgba(51, 45, 75, 1) 100%
  );

  @include breakpoint("medium") {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/assets/herospace-small.png");
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    @include breakpoint("medium") {
      background-image: url("/assets/herospace.png");
      background-position: right 0;
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
    }
  }

  &__content {
    padding: 80px 20px 320px;

    @include breakpoint("medium") {
      padding: 0 40px;
    }

    &__title {
      font-family: var(--main-font);
      font-size: 30px;
      line-height: 34px;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      color: #fff;

      @include breakpoint("medium") {
        font-size: 48px;
        line-height: 46px;
      }

      @include breakpoint("large") {
        font-size: 68px;
        line-height: 66px;
      }
    }

    &__shortcode {
      font-family: var(--main-font);
      font-size: 15px;
      line-height: 17px;
      padding: 15px 0 0;
      -webkit-font-smoothing: antialiased;
      color: #fff;
      font-weight: 600;

      @include breakpoint("medium") {
        padding: 20px 0 0;
        font-size: 25px;
        line-height: 27px;
      }

      @include breakpoint("large") {
        font-size: 35px;
        line-height: 37px;
      }
    }

    &__description {
      font-family: var(--main-font);
      font-size: 15px;
      line-height: 17px;
      padding: 15px 0 0;
      -webkit-font-smoothing: antialiased;
      color: #fff;
      display: none;

      @include breakpoint("medium") {
        display: block;
        padding: 20px 0 0;
        font-size: 25px;
        line-height: 27px;
        max-width: 45%;
      }
    }
  }
}
