<hd-component></hd-component>
<section class="services">
  <div class="services__back">
    <a routerLink="/">Volver</a>
  </div>
  <h2 class="services__title">{{serviceHeader ? serviceHeader.title.rendered : ''}}</h2>
  <div class="services__description" innerHTML="{{serviceHeader ? serviceHeader.content.rendered : ''}}"></div>
  <div class="services__content">
    <toogle-service-component [content]="service" *ngFor="let service of servicesList"></toogle-service-component>
  </div>
</section>
<ft-component></ft-component>
