<hd-component></hd-component>
<section class="services">
  <div class="services__back">
    <a routerLink="/">Volver</a>
  </div>
  <h2 class="services__title">Servicios</h2>
  <div class="services__description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</div>
  <div class="services__content">
    <toogle-service-component></toogle-service-component>
    <toogle-service-component></toogle-service-component>
    <toogle-service-component></toogle-service-component>
    <toogle-service-component></toogle-service-component>
    <toogle-service-component></toogle-service-component>
  </div>
</section>
<ft-component></ft-component>
