<section class="about">
  <h2 class="about__title" [innerHTML]="title"></h2>
  <div class="about__description" [innerHTML]="description"></div>
  <div class="about__module">
    <div class="about__module__box" *ngFor="let value of values">
      <div class="about__module__box__image">
        <img src="{{value['_embedded']['wp:featuredmedia'][0]['source_url']}}" />
      </div>
      <div class="about__module__box__data">
        <h3>{{value.title.rendered}}</h3>
        <div class="about__module__box__data__description" [innerHTML]="value.content.rendered"></div>
      </div>
    </div>
  </div>
  <div class="about__types">
    <ngx-slick-carousel [config]="aboutSlider">
      <div ngxSlickItem class="about__types__box" *ngFor="let know of knows">
        <div class="about__types__box__image">
          <img src="{{know['_embedded']['wp:featuredmedia'][0]['source_url']}}" />
        </div>
        <div class="about__types__box__data">
          <h4>{{know.title.rendered}}</h4>
          <div class="about__types__box__data__description" [innerHTML]="know.content.rendered"></div>
          <p></p>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
