@import '../../../scss/mixin';

.about {
  position: relative;
  padding: 30px 20px 50px;
  background: rgb(228,160,151);
  background: linear-gradient(180deg, rgba(226,158,146,1) 0%, rgba(216,150,147,1) 100%);

  @include breakpoint('medium') {
    padding: 110px 40px 100px;
    min-height: 100vh;
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/about-small.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    @include breakpoint('medium') {
      display: block;
      background-image: url('/assets/about.png');
      background-position: center bottom;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__title {
    position: relative;
    font-family: var(--main-font);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 8px;

    @include breakpoint('medium') {
      font-size: 36px;
      letter-spacing: 20px;
    }
  }

  &__description {
    position: relative;
    padding: 20px 10px 0;
    font-family: var(--main-font);
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #fff;

    strong {
      font-weight: 600;
    }

    @include breakpoint('medium') {
      padding: 20px 20px 0;
      font-size: 15px;
      line-height: 20px;
      max-width: 550px;
      margin: 0 auto;
    }
  }

  &__module {
    position: relative;
    padding: 20px 0 30px;

    @include breakpoint('medium') {
      padding: 70px 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 60px;
    }

    @include breakpoint('large') {
      grid-column-gap: 30px;
    }

    &__box {
      display: flex;
      padding: 0 0 25px;

      @include breakpoint('medium') {
        padding: 0 0 20px;
      }

      &:last-child {
        padding: 0;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        @include breakpoint('medium') {
          flex-direction: row;
        }

        .about__module__box__data {
          text-align: right;
          padding: 5px 10px 0 0;

          @include breakpoint('medium') {
            text-align: left;
            padding: 25px 0 0 30px;
          }
        }
      }

      &__image {
        width: 50%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      &__data {
        padding: 5px 0 0 10px;
        width: 50%;

        @include breakpoint('medium') {
          padding: 25px 0 0 30px;
        }

        h3 {
          font-family: var(--main-font);
          font-size: 15px;
          font-weight: 600;
          color: #fff;

          @include breakpoint('medium') {
            font-size: 20px;
          }
        }

        &__description {
          padding: 10px 0 0;
          font-family: var(--main-font);
          font-size: 9px;
          line-height: 11px;
          color: #fff;

          @include breakpoint('medium') {
            padding: 15px 0 0;
            font-size: 12px;
            line-height: 15px;
          }

          strong {
            font-weight: 600;
          }
        }
      }
    }
  }

  &__types {
    position: relative;
    padding: 0 30px;

    @include breakpoint('medium') {
      padding: 0;
    }

    ngx-slick-carousel {
      @include breakpoint('medium') {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
      }
    }

    &__box {
      display: block;

      &:focus {
        outline: 0 none;
      }

      &__image {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      &__data {
        padding: 20px 15px 15px;
        text-align: center;

        @include breakpoint('medium') {
          padding: 15px;
        }

        h4 {
          font-family: var(--main-font);
          font-size: 15px;
          font-weight: 600;
          color: #fff;

          @include breakpoint('medium') {
            font-size: 20px;
          }
        }

        &__description {
          padding: 10px 0 0;
          font-family: var(--main-font);
          font-size: 11px;
          line-height: 14px;
          color: #fff;

          @include breakpoint('medium') {
            padding: 15px 0 0;
            font-size: 12px;
            line-height: 15px;
          }

          strong {
            font-weight: 600;
          }
        }
      }
    }
  }
}

:host ::ng-deep {
  .slick-arrow {
    top: 75px;
    height: 25px;

    &:before {
      display: none;
    }
  }

  .slick-next {
    background: url('/assets/arrow-r.png') center center no-repeat;
    background-size: contain;
    right: -35px;
  }

  .slick-prev {
    background: url('/assets/arrow-l.png') center center no-repeat;
    background-size: contain;
    left: -35px;
  }

  .slick-dots {
    bottom: -20px;

    li {
      margin: 0;

      button {
        padding: 0;
        width: 15px;

        &:before {
          width: 15px;
          color: #fff;
          font-size: 9px;
        }
      }
    }
  }
}