<section class="about">
  <h2 class="about__title">Conocenos</h2>
  <p class="about__description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
  <div class="about__module">
    <div class="about__module__box">
      <div class="about__module__box__image"></div>
      <div class="about__module__box__data">
        <h3>Misión</h3>
        <p>Nuestro trabajo está basado en el desarrollo de evidencia científica de alto valor a partir del análisis de datos  de la vida real utilizando metodologías estadísitcas de última generación.</p>
      </div>
    </div>
    <div class="about__module__box">
      <div class="about__module__box__image"></div>
      <div class="about__module__box__data">
        <h3>Visión</h3>
        <p>Ser líderes en la generación de evidencia científica derivada del mundo real a nivel mundial para contribuir con la salud y bienestar de la comunidad.</p>
      </div>
    </div>
  </div>
  <div class="about__types">
    <div class="about__types__box">
      <div class="about__types__box__image"></div>
      <div class="about__types__box__data">
        <h4>Profesionalismo</h4>
        <p>Seriedad y transparencia en la aplicación del método científico para el análisis de datos cumpliendo con los tiempos y metas comprometidas.</p>
      </div>
    </div>
    <div class="about__types__box">
      <div class="about__types__box__image"></div>
      <div class="about__types__box__data">
        <h4>Profesionalismo</h4>
        <p>Seriedad y transparencia en la aplicación del método científico para el análisis de datos cumpliendo con los tiempos y metas comprometidas.</p>
      </div>
    </div>
    <div class="about__types__box">
      <div class="about__types__box__image"></div>
      <div class="about__types__box__data">
        <h4>Profesionalismo</h4>
        <p>Seriedad y transparencia en la aplicación del método científico para el análisis de datos cumpliendo con los tiempos y metas comprometidas.</p>
      </div>
    </div>
    <div class="about__types__box">
      <div class="about__types__box__image"></div>
      <div class="about__types__box__data">
        <h4>Profesionalismo</h4>
        <p>Seriedad y transparencia en la aplicación del método científico para el análisis de datos cumpliendo con los tiempos y metas comprometidas.</p>
      </div>
    </div>
  </div>
</section>
