<section class="team">
  <h2 class="team__title">Equipo</h2>
  <p class="team__description">Formamos un equipo con nuestros cliente en búsqueda de la excelencia. Nos moviliza el entendimiento de la interacción entre el contexto, las necesidades del proyecto y el propósito científico.</p>
  <div class="team__list">
    <div class="team__list__box">
      <div class="team__list__box__image">
        <div class="team__list__box__image__wrapper"></div>
        <div class="team__list__box__image__actions"></div>
      </div>
      <div class="team__list__box__data">
        <h3>¨La correcta generación y procesamiento de los datos y la comunicación ágil y estratégica de la evidencia científica real, nos brindan un mayor conocimiento para la toma de decisiones acertadas.¨</h3>
        <p>EZEQUIEL LABARTHE<br>DATATHERAPY GENERAL MANAGER</p>
        <span>elabarthe@trydatatherapy.com</span>
      </div>
    </div>
  </div>
</section>