<section class="team">
  <h2 class="team__title" [innerHTML]="title"></h2>
  <div class="team__description" [innerHTML]="description"></div>
  <div class="team__list">
    <ngx-slick-carousel [config]="teamSlider">
      <div ngxSlickItem class="team__list__box" *ngFor="let member of team">
        <div class="team__list__box__image">
          <div class="team__list__box__image__wrapper">
            <img src="{{member['_embedded']['wp:featuredmedia'][0]['source_url']}}" />
          </div>
        </div>
        <div class="team__list__box__data">
          <div class="team__list__box__data__title" [innerHTML]="member.content.rendered"></div>
          <div class="team__list__box__data__description"><strong>{{member.title.rendered}}</strong><br><small [innerHTML]="member.excerpt.rendered"></small></div>
          <!-- <span>{{team.email}}</span> -->
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</section>