@import '../../../scss/mixin';

.team {
  position: relative;
  padding: 30px 20px 60px;
  background: #988281 url('/assets/team.jpg') center bottom no-repeat;
  background-size: cover;

  @include breakpoint('medium') {
    padding: 110px 40px 100px;
    min-height: 100vh;
  }

  &__title {
    position: relative;
    font-family: var(--main-font);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 8px;

    @include breakpoint('medium') {
      font-size: 36px;
      letter-spacing: 20px;
    }
  }

  &__description {
    position: relative;
    padding: 20px 10px 0;
    font-family: var(--main-font);
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #fff;

    strong {
      font-weight: 600;
    }

    @include breakpoint('medium') {
      padding: 20px 20px 0;
      font-size: 15px;
      line-height: 20px;
      max-width: 550px;
      margin: 0 auto;
    }
  }

  &__list {
    position: relative;
    padding: 40px 30px 0;

    @include breakpoint('medium') {
      padding: 70px 0;
      max-width: 750px;
      margin: 0 auto;
    }

    &__box {
      @include breakpoint('medium') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "data image";
        grid-column-gap: 50px;
      }

      &:focus {
        outline: 0 none;
      }

      &__image {
        @include breakpoint('medium') {
          grid-area: image;
        }

        &__wrapper {
          background: #000;
          height: 200px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        &__actions {
          display: none;

          @include breakpoint('medium') {
            display: block;
            height: 20px;
            background: #6a5759;
          }
        }
      }

      &__data {
        padding: 20px 0 0;
        text-align: center;

        @include breakpoint('medium') {
          grid-area: data;
          padding: 15px 0 0;
          text-align: left;
        }

        &__title {
          font-family: var(--main-font);
          font-size: 12px;
          line-height: 16px;
          color: #fff;

          @include breakpoint('medium') {
            font-size: 15px;
            font-style: italic;
          }

          strong {
            font-weight: 600;
          }
        }

        &__description {
          padding: 15px 0 0;
          font-family: var(--main-font);
          font-size: 11px;
          line-height: 14px;
          color: #fff;

          @include breakpoint('medium') {
            padding: 25px 0 0;
            font-size: 10px;
            line-height: 14px;
          }
        }

        span {
          padding: 10px 0 0;
          display: inline-block;
          font-family: var(--main-font);
          font-size: 10px;
          color: #fff;
        }
      }
    }
  }
}

:host ::ng-deep {
  .slick-arrow {
    top: 100px;
    height: 25px;

    &:before {
      display: none;
    }
  }

  .slick-next {
    background: url('/assets/arrow-r.png') center center no-repeat;
    background-size: contain;
    right: -35px;
  }

  .slick-prev {
    background: url('/assets/arrow-l.png') center center no-repeat;
    background-size: contain;
    left: -35px;
  }

  .slick-dots {
    bottom: -40px;

    li {
      margin: 0;

      button {
        padding: 0;
        width: 15px;

        &:before {
          width: 15px;
          color: #fff;
          font-size: 9px;
        }
      }
    }
  }
}