<layout lang="es">
  <herospace-component
    title="{{ homepage.herospace_title }}"
    shortcode="{{ homepage.shortcode }}"
    description="{{ homepage.herospace_description }}"
  ></herospace-component>
  <about-component
    id="conocenos"
    title="{{ homepage.know_title }}"
    description="{{ homepage.know_description }}"
    lang="es"
  ></about-component>
  <team-component
    id="equipo"
    title="{{ homepage.team_title }}"
    description="{{ homepage.team_description }}"
    lang="es"
  ></team-component>
  <services-component
    id="servicios"
    title="{{ homepage.service_title }}"
    description="{{ homepage.service_description }}"
    lang="es"
  ></services-component>
  <publish-component
    id="publicaciones"
    title="{{ homepage.publications_title }}"
    description="{{ homepage.publications_description }}"
    lang="es"
  ></publish-component>
</layout>
